@import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

  a {
    text-decoration: none; 
    color: #000000 ;
  }

  body {
  
  }

  

  
  .mainBlock {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  }

  .blurBlock {
      margin-top: 355px;
display: flex;
width: 320px;
height: 320px;
position: absolute;
background-size: 150%;
background-color: #3a2315;
background-position: center;
background-repeat: no-repeat;
z-index: 0;
border-radius: 50% 50%;
filter: blur(150px);

;
  }

  .mainBlockName {
      
    width: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
   
  }


  .MyName {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
  }


  .Profession {
    font-family: 'Amatic SC', cursive;
    font-size: 80px; 
  }

.WelcomeText {
    margin-top: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: 900;

}  

.welcomeMainText {
    margin-top: 5px;
    font-family: 'Jura', sans-serif;
    font-size: 23px;
    text-align: justify;
    
}




header, nav, ul  {
margin-top: 10px;
width: 600px;
display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
}

.menuButtonsActive {
    list-style-type: none; 
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    border-bottom: 3px solid #000000;   
}

.menuButtonsLinkActive {
    color: #DD0000;
    border-bottom: 3px solid #DD0000; 
}

.menuButtonsActive:hover {
    border-bottom: 3px solid #DD0000; 
}

.menuButtons {
    transition: 0.2s;
    list-style: none;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;   

}

a:hover {
    color: #DD0000; 
    font-weight: 900;
    cursor: pointer;
    
}



/** Cube Animation  **/




@keyframes rotate1 {
    0% {transform: rotateY(60deg) ;}


    50% {transform: rotateX(900deg);}
    
    
    75% {transform: rotateY(300deg);}
    
    
    100% {transform: rotateX(-4040deg);}
}
   


#MainCubeAnimationBlock {
    margin-top: 100px;
    width: 300px;
    height: 300px;
display: flex;
perspective: none;
perspective-origin: 80% 50%;
transform-style: preserve-3d;
animation: rotate1;
animation-timing-function: linear;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-direction: alternate;
transform: rotateY(60deg);

}



.TopSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #040203;
    transition: 2s;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateY(-150px) rotateX(90deg);
    border-radius: 5%;
   

   

    

}

.RightSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #040203;
    transition: 3s;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateX(150px) rotateY(90deg);
    border-radius: 5%;
   
    
}

.BottomSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateY(150px) rotateX(90deg);
    background-color: #040203;
    transition: 2s;
    border-radius: 5%;
    
    
}

.LeftSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    background-color: #040203;
    transition: 1s;
    transform: translateX(-150px) rotateY(90deg);
    border-radius: 5%;
   
}

.BackSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateZ(-150px);
    background-color: #040203;
    transition: 3s;
    border-radius: 5%;
    
}

.FrontSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateZ(150px);
    background-color: #040203;
    transition: 3s;
    border-radius: 5%;
   

    
}


.AnimationCubeColorYellow {
width: 94px;
height: 94px;
background-color: #e6dc32;
border: 3px solid black;
transition: 3s;
border-radius: 10%;
}

.AnimationCubeColorGreen {
    width: 94px;
height: 94px;
    background-color: #c8db8d;
    border: 3px solid black;
    transition: 2s;
    border-radius: 10%;
}

.AnimationCubeColorBlue {
    width: 94px;
height: 94px;
    background-color: #96c4cc;
    border: 3px solid black;
    transition: 2s;
    border-radius: 10%;
    border-radius: 10%;
}

.AnimationCubeColorOrange {
    width: 94px;
    height: 94px;
    background-color: #f4cb63;
    border: 3px solid black;
    transition: 3s;
    border-radius: 10%;
}

.AnimationCubeColorRed {
    display: flex;
    width: 94px;
    height: 94px;
    background-color: #b77ba4;
    border: 3px solid black;
    transition: 1s;
    border-radius: 10%;
}

.AnimationCubeColorWhite {
    display: flex;
    width: 94px;
    height: 94px;
    background-color: #E6FFFC;
    border: 3px solid black; 
    transition: 2s; 
    border-radius: 10%;
}


@media(hover: hover) {
#MainCubeAnimationBlock:hover {

.AnimationCubeColorOrange, .AnimationCubeColorGreen, .AnimationCubeColorRed,
.AnimationCubeColorWhite, .AnimationCubeColorBlue, .AnimationCubeColorYellow {
    transform: rotateY(180Deg);
    
    background-color: transparent ;
}

.LeftSideOfTheCube {
    background-color: #e6dc32;
}

.BackSideOfTheCube {
    background-color: #96c4cc;
}

.FrontSideOfTheCube {
    background-color:#b77ba4;
}

.BottomSideOfTheCube {
    background-color: #E6FFFC;
}

.RightSideOfTheCube {
    background-color: #c8db8d;
}

.TopSideOfTheCube {
    background-color: #f4cb63;
}

.cubeText {
    visibility: visible;
    
}

.cubeTextPerfomance {
    visibility: visible;
}

.cubeTextAutomation {
    visibility: visible;
}

.cubeTextManual { 
    visibility: visible;
}

}


}

.cubeText {
    position: absolute;
    visibility: hidden;
    font-family: 'Oswald', sans-serif;

    font-size: 50px;
    color: #3a2315;
 
}
    


.cubeTextPerfomance {
    position: absolute; 
    transform: rotateX(180deg);
    visibility: hidden;
    font-family: 'Oswald', sans-serif;

    font-size: 60px;
    
    color: #3a2315;
   
}


.cubeTextAutomation {
    position: absolute; 
    transform: rotateY(180deg);
    visibility: hidden;
    font-family: 'Oswald', sans-serif;

    font-size: 50px;
   
    color: #3a2315;
}

.cubeTextManual {
    position: absolute; 
    transform: rotateX(180deg); 
    visibility: hidden;
    font-family: 'Oswald', sans-serif;

    font-size: 70px;
    
    color: #3a2315;
}



/**End of the cube animation **/


.javaScript {
    margin-top: 20px;
    width: 100%;
    height: 450px;
    background-color:#b77ba4  ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.perfomance {
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-color:#f4cb63 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.perfomanceIMGHardware {
    width: 99px;
height: 99px;
background-image: url('../img/perfomance-sprite.jpg');
border-radius: 50%;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
background-position-x: -1px ;
}

.perfomanceIMGStability {
    width: 99px;
    height: 99px;
    background-image: url('../img/perfomance-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -101px ;
}

.perfomanceIMGVolume {
    width: 99px;
    height: 99px;
    background-image: url('../img/perfomance-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -201px ;
}

.perfomanceIMGRecovery {
    width: 99px;
    height: 99px;
    background-image: url('../img/perfomance-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -301px ;
}

.perfomanceIMGLoad {
    width: 99px;
    height: 99px;
    background-image: url('../img/perfomance-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -400px ;
}

.perfomanceIMGStress {
    width: 99px;
    height: 99px;
    background-image: url('../img/perfomance-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -500px ;
}


.security {
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-color:#c8db8d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.securityIMGXss {
    width: 99px;
    height: 99px;
    background-image: url('../img/security-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -0px ;
}

.securityIMGSocial {
    width: 99px;
    height: 99px;
    background-image: url('../img/security-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -100px ;
}

.securityIMGDos {
    width: 99px;
    height: 99px;
    background-image: url('../img/security-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -200px ;
}

.securityIMGSQL {
    width: 99px;
    height: 99px;
    background-image: url('../img/security-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -300px ;
}

.manual {
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-color:#96c4cc;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.TypesMainBlock {
    margin-top: 90px;
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.TypesBlocks {
   width: 130px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.ManualImgAgile {
width: 100px;
height: 100px;
background-image: url('../img/manual-sprite.jpg');
border-radius: 50%;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ManualImgDocumentation {
    width: 100px;
height: 100px;
background-image: url('../img/manual-sprite.jpg');
border-radius: 50%;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
background-position-x: -100px;
    }

.ManualImgCases {
    width: 100px;
height: 100px;
background-image: url('../img/manual-sprite.jpg');
border-radius: 50%;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
background-position-x: -200px;
    }


.ManualImgCommunication {
    width: 100px;
    height: 100px;
    background-image: url('../img/manual-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -300px;
        }  

.ManualImgBugs {
    width: 100px;
    height: 100px;
    background-image: url('../img/manual-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -400px;
        } 
        
.ManualImgReport {
    width: 100px;
    height: 100px;
    background-image: url('../img/manual-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -499px;
                } 
                
.ManualImgHardCore {
    width: 100px;
    height: 100px;
    background-image: url('../img/manual-sprite.jpg');
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background-position-x: -600px;
                                }  
                                
.ImgHover:hover {
transform: rotate(45deg);
transition: 1s;

}

.BlockDescription {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #3a2315;
}


.python {
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-color:#ffe873 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Postman {
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-color:#E6FFFC;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.otherTools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    min-height: 200px;
    border-bottom: 3px solid #ffffff;
    
}


.serificatsBlock
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 380px;
    border-bottom: 3px solid #ffffff;
    
}

.serificatsBlockImg{
    margin-top: 15px;
width: 100%;
min-height: 280px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.serificatsImg {
    width: 269px;
    height: 269px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.typeOfTesting {
  color: #3a2315;
  font-weight: 900;
  font-size: 40px;  
  font-family: 'Oswald', sans-serif;
}

.Windows, .Ubuntu, .Kali, .Mint, .testRail, .fiddler, .gitHub, .jira, .bitBucket
{
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.Windows {
    background-image: url("../img/othertools-sprite.png");
}

.Ubuntu {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -150px ;
}

.Kali {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -300px ;
}

.Mint {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -450px ;
}

.testRail {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -600px ;
}


.fiddler {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -750px ;
}
.gitHub {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -900px ;
}

.jira {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -1050px ;
}

.bitBucket {
    background-image: url("../img/othertools-sprite.png");
    background-position-x: -1200px ;
}




.MainSkillsBlock {
    margin-top: 150px;
    width: 100%;
    background-color: #eaeaef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.avatarImg {
    margin-top: 45px;
    width: 250px;
    height: 250px;
}

.ImgBlock {
    width: 100%;
}

.ImgQA {
position: absolute;
margin-top: -100px;
margin-left: 30px;
width: 179px;
    height: 180px;
background-image: url(../img/logo-sprite.png);
background-repeat: no-repeat;
background-size: 1306px;
background-position-x: -1000px ;

    
}

.ImgJS {
    position: absolute;
margin-top: -30px;
margin-left: 50px;
width: 200px;
    height: 180px;
background-image: url(../img/logo-sprite.png);
background-repeat: no-repeat;
background-position-x: -600px ;
    background-size: 1306px;
box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ImgPython {
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    width: 200px;
    height: 180px;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position-x: -800px ;
    background-size: 1305px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ImgJmeter {
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    width: 200px;
    height: 180px;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position-x: -200px ;
    background-size: 1305px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ImgSecurity {
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    width: 200px;
    height: 180px;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position-x: -400px ;
    background-size: 1306px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.ImgPostman {
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    width: 200px;
    height: 180px;
    background-image: url(../img/logo-sprite.png);
    background-repeat: no-repeat;
    background-position-x: 0px ;
    background-size: 1305px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
} 







footer {
    margin-bottom: 15px;
    width: 408px;
    height: 75px;
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
}

/** Social networks **/

.ContactsMail {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 395px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsMail:hover {
    background-image: url("../img/sprite.png");  
}

.ContactsVK {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 336px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsVK:hover {
    background-image: url("../img/sprite.png");  
}

.ContactsLinkedin {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 280px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsLinkedin:hover {
    background-image: url("../img/sprite.png");  
}


.ContactsInstagram {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 224px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsInstagram:hover {
    background-image: url("../img/sprite.png");  
}


.ContactsTelegram {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 166px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsTelegram:hover {
    background-image: url("../img/sprite.png");  
}


.ContactsSkype {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 109px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsSkype:hover {
    background-image: url("../img/sprite.png");  
}


.ContactsPhone {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("../img/sprite_without_hover.png");
    background-position-x: 51px ;
    background-position-y: - 3px ;
    background-size: 400px;
}

.ContactsPhone:hover {
    background-image: url("../img/sprite.png");  
}


.socialLink {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
}


/* Adaptive design */


@media(max-height:968px) {
    header, nav, ul   {
        margin-top: 30px;
    }

    footer {
        margin-top: 30px;  
    }

    .MyName, .Profession, .WelcomeText {
        text-align: center;
    } 
} 


@media(max-width: 1600px) {
    .mainBlockName {
        width: 80%;
    }
}


@media(max-width: 1290px) {
    .MyName {
        font-size: 70px;
    }

    .Profession {
        font-size: 50px;
    }

    .WelcomeText {
        font-size: 35px;
    }

    header, nav, ul  {
        width: 550px;
    }

    ul {
        flex-direction: row;
    }
}


@media(max-width: 650px) {
    header, nav, ul {
        flex-direction: column;
        width: 340px;
        height: 300px;
    }

@media (hover: none) {

}


   
#MainCubeAnimationBlock {
    margin-top: 150px;
    width: 150px;
    height: 150px;
display: flex;
transform-style: preserve-3d;
animation: rotate1;
animation-timing-function: linear;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-direction: alternate;
transform: rotateY(60deg);

}





    




.TopSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: transparent;
    transition: 2s;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateY(-75px) rotateX(90deg);
   
    background-position: center;
    background-size: 100%;
   

    

}

.RightSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color: transparent;
    transition: 2s;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateX(75px) rotateY(90deg);
    background-position: center;
    background-size: 100%;
    
}

.BottomSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateY(75px) rotateX(90deg);
    background-color: transparent;
    transition: 2s;
    background-position: center;
    background-size: 100%;
    
}

.LeftSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    background-color: transparent;
    transition: 2s;
    transform: translateX(-75px) rotateY(90deg);
    background-position: center;
    background-size: 100%;
}

.BackSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateZ(-75px);
    background-color: transparent;
    transition: 2s;
    background-position: center;
    background-size: 100%;
    
}

.FrontSideOfTheCube {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Параметры тени */
    position: absolute;
    transform: translateZ(75px);
    background-color: transparent;
    transition: 2s;
   

    
}

.cubeText,.cubeTextManual,.cubeTextAutomation,.cubeTextPerfomance{
    font-size: 25px;
}



    .AnimationCubeColorYellow, .AnimationCubeColorGreen,.AnimationCubeColorBlue,.AnimationCubeColorOrange,.AnimationCubeColorRed,.AnimationCubeColorWhite {
      width: 44px;
      height: 44px;
        }
}




@media (max-width: 410px) {
    .mainBlockName {
        width: 90%;
    }
    
    
    footer {
        flex-direction: column;
        height: 500px;
        width: 200px;
    }
}





