@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  overflow: hidden; }

#MainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../img/goat.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: auto; }

#noseOfTheGoat {
  position: absolute;
  width: 450px;
  height: 500px;
  margin-top: 180px;
  margin-left: 25%; }

#noseOfTheGoat:hover {
  cursor: pointer;
  -webkit-filter: blur(13px);
          filter: blur(13px);
  z-index: 1; }

#headerMenuBlock {
  width: 70%; }

#headerMenu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Neucha', cursive;
  font-size: 35px;
  background-image: url("../img/back.png"); }

.headerMenuButton:hover {
  background-image: url("../img/back-hover.png");
  border-radius: 10px;
  cursor: pointer; }

#Header {
  margin-top: 50px;
  font-family: 'Neucha', cursive;
  font-size: 35px;
  background-image: url("../img/back.png");
  border-radius: 5px; }

#welcomeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh; }

.mainContentTextBlock {
  margin-left: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.mainContentText {
  margin-top: 50px;
  width: 50%;
  font-family: 'Neucha', cursive;
  font-size: 20px;
  background-image: url("../img/back.png"); }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  border: 3px solid black; }

#footer:hover {
  cursor: pointer; }

@-webkit-keyframes goat_rain_animation {
  from {
    margin-top: 0px; }
  to {
    margin-top: 600px; } }

@keyframes goat_rain_animation {
  from {
    margin-top: 0px; }
  to {
    margin-top: 600px; } }
@-webkit-keyframes goat_rain_animation_two {
  from {
    margin-left: 0px; }
  to {
    margin-left: 600px; } }
@keyframes goat_rain_animation_two {
  from {
    margin-left: 0px; }
  to {
    margin-left: 600px; } }
@-webkit-keyframes goat_rain_animation_three {
  from {
    margin-left: 155px; }
  to {
    margin-left: -600px; } }
@keyframes goat_rain_animation_three {
  from {
    margin-left: 155px; }
  to {
    margin-left: -600px; } }
#goat_rain {
  -webkit-animation: goat_rain_animation, goat_rain_animation_two;
          animation: goat_rain_animation, goat_rain_animation_two;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  z-index: 2;
  display: none; }

#goat_rain_grass {
  -webkit-animation: goat_rain_animation;
          animation: goat_rain_animation;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  margin-left: 155px;
  z-index: 2;
  display: none; }

#goat_rain_grassTwo {
  -webkit-animation: goat_rain_animation, goat_rain_animation_three;
          animation: goat_rain_animation, goat_rain_animation_three;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
  margin-left: -155px;
  z-index: 2;
  display: none; }

/*# sourceMappingURL=style.css.map */