html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*LOADER*/

  #Loader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: 'Press Start 2P', cursive;
  }

@keyframes loaderAnimation {
    from {
opacity: 1;
    }

    to {
opacity: 0;
    }
}

  .LoaderLettersLAIG {
      animation: loaderAnimation;
      animation-iteration-count: 100;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      margin-top: 250px;
      font-size: 40px;
      color: #FF0808;
      font-family: 'Press Start 2P', cursive;
  }

  .LoaderLettersODN {
      animation: loaderAnimation;
      animation-iteration-count: 100;
      animation-duration: 0.5s;
      animation-timing-function: linear;
 font-size: 35px;
      color: #FF0808;
      margin-top: 250px;
  }

  a {
    text-decoration: none;   
  }

  a:visited {
      text-decoration: none;
  }


  li {
    list-style-type: none; /* Убираем маркеры */
   }

   html {
       width: 100%;
    overflow-x: hidden;
      cursor: url('../../../img/cursor.cur'), pointer;
      

  } 

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

#mainBlock {
    width: 65%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#mainBlockHeaderMenu {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HeaderMenuButtons {
font-size: 14px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-family: 'Press Start 2P', cursive;
color: #D9D7D7;

}

.HeaderMenuPoints {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D9D7D7;
}

.HeaderMenuPointsActive {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D8A013;
    border-bottom: 2px solid #D8A013;   
    
    
    
   }



#footerMenuButtons {
    font-size: 14px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-family: 'Press Start 2P', cursive;
color: #D9D7D7;
}   

.footerMenuPoints {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D9D7D7;
}

.footerMenuPointsActive {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D8A013;
    border-bottom: 2px solid #D8A013;   
    
    
    
   }


   footer {
    height: 100px;
    margin-top: 50px;
    width: 90%;
}


#footerMenuButtons {
    font-size: 14px;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
font-family: 'Press Start 2P', cursive;
color: #D9D7D7;
}   

.footerMenuPoints {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D9D7D7;
}

.footerMenuPointsActive {
    list-style-type: none; /* Убираем маркеры */
    text-decoration: none;
    color: #D8A013;
    border-bottom: 2px solid #D8A013;   
    
    
    
   }


   footer {
    height: 100px;
    margin-top: 50px;
    width: 90%;
}

.welcomeMainText {
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: #D9D7D7;
    text-align: center;
    line-height: 20px;
    }


    .mainHeaderBlock {
        width: 85%;
        border: solid #12807B;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 100px;
        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
        color: #12807B;
        text-align: center;
        line-height: 30px;
        margin-top: 50px;
        }
    
        .mainHeaderBlockPlan {
            
        margin-top: 20px;
        font-size: 14px;
        font-family: 'Press Start 2P', cursive;
        color: #12807B;
        text-align: left;
        line-height: 20px;
        padding: 20px;
        
        }
    
        .mainHeaderBlockPlanLink {
            
        margin-top: 20px;
        font-size: 14px;
        font-family: 'Press Start 2P', cursive;
        color: #12807B;
        text-align: left;
        line-height: 20px;
        padding: 20px;
        
        }
    
        .mainDescriptionBlockHeader {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 100px;
        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
        color: #12807B;
        text-align: center;
        line-height: 30px;
        margin-top: 50px;
        } 
    
     .mainDescriptionBlock {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    width: 100%;
     }
    
    
      .mainDescriptionBlockText {
          margin-top: 20px;
        font-size: 15px;
        font-family: 'Press Start 2P', cursive;
        color: #F9FB54;
        text-align: left;
        line-height: 22px;
        padding: 10px;
        background-color: #003399;
        width: 90%;
      } 
 .descrText {
     margin-top: 30px;
 }     
    

@media (max-width: 1200px) {
    .HeaderMenuPoints {
margin: 2px;
    }
    
    #mainBlock {
        width: 90%;
    }
    
    #HeaderMenuButtons { 
        flex-direction: column;
        justify-content: space-around;
        height: 330px;
        margin-top: 20px;
        font-size: 17px;
     
    }

    #mainBlockHeaderMenu {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .footerMenuPoints {
        margin: 2px;
            }

    
    
    #footerMenuButtons { 
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        margin-top: 20px;
        font-size: 17px;
     
    }

    footer {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


.mainDescriptionBlockText {
    padding: 5px;
    font-size: 10px;
    width: 98%
}




}

a:hover {
    color: #D8A013;
    cursor: url('../../../img/LinkSelect.cur'), pointer;
}






  
 

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    width: 30%;
    height: 30px; 
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    color: #D9D7D7;
    text-align: center;
    line-height: 20px;
}

#buttonUP {
    font-family: 'Press Start 2P', cursive;
    position: fixed;
    width: 52px;
    height: 35px;
    border: 2px solid #D9D7D7;
    top: 90%;
    left: 82%;
    color:#000000;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-color: #D8A013;
}

#arrowTop {
    margin-top: -20px;
    color:#000000;
    font-size: 40px;
    line-height: 45px;
}

#buttonUP:hover {
    cursor: url('../../../img/LinkSelect.cur'), pointer;
    background-color:#12807B;
}

#buttonUP:active {
    cursor: url('../../../img/LinkSelect.cur'), pointer;
    background-color:#BE0100;
}

.pictureBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Picture {
    max-width: 100%;
}

.testQuetion {
    font-family: 'Press Start 2P', cursive;
    color: #C0FFD4;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
}


#instruction {
    font-family: 'Press Start 2P', cursive;
    color: #BFE4FF;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    background-color: #003399 ;  
}

.questionBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
margin-top: 35px;    
background-color: #117E45;
}

.incorrectAnswer {
    width: 95%;
    border: 2px solid #A31917;
    background-color: #FF679A;
    color: #FFFF01;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 1px;
    
}

input[type="radio"]:not(checked) {
    box-shadow: inset 10px 10px 10px 10px #FF9773;
   width: 17px;
   height: 17px;
   
  }
  input[type="radio"]:checked{
    box-shadow: inset 10px 10px 10px 10px yellow;
    background:yellow;
    width: 25px;
    height: 25px;
    
  }




input[type="radio"]:hover {
    cursor: url('../../../img/LinkSelect.cur'), pointer;
}


.questionHeader {
    font-size: 18px;
    font-weight: 900;
}

form {
    width: 100%;
}

label:hover {
    cursor: url('../../../img/LinkSelect.cur'), pointer;
    color: #FF9773
}


input:checked {
    background: #fc0;
   }


#s1 {
    width: 100%;
    min-height: 100px;
    background:#FFCC00;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    color: #12127D;
    line-height: 30px;
    
}

.testQuestionImageBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testQuestionImage {
    margin-top: 10px;
}

@media (max-width: 700px) {
    .testQuestionImageBlock  {
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    }  
}

#showResultsButton {
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    width: 250px;
    height: 50px;
    color: #FF8000;
    background-color: #0066B3;
    border: 5px solid #00487D;

}

#resetButton {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    width: 260px;
    height: 60px;
    color: #FF8000;
    background-color: #0066B3;
    border: 5px solid #00487D; 
}

INPUT,#showResultsButton:hover {
    cursor: url('../../../img/LinkSelect.cur'), pointer;
}

@media (max-width: 1200px) {
    #s1 {
        font-size: 14px;
}

}





