@import url("https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a {
  text-decoration: none;
  color: #000000; }

.mainBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

header, nav, ul {
  margin-top: 10px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.menuButtonsActive {
  list-style-type: none;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  border-bottom: 3px solid #000000; }

.menuButtonsLinkActive {
  color: #DD0000;
  border-bottom: 3px solid #DD0000; }

.menuButtonsActive:hover {
  border-bottom: 3px solid #DD0000; }

.menuButtons {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  list-style: none;
  font-size: 40px;
  font-family: 'Amatic SC', cursive; }

a:hover {
  color: #DD0000;
  font-weight: 900;
  cursor: pointer; }

.WelcomeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.mainHeaderText {
  margin-right: 20px;
  font-size: 65px;
  color: #97c160;
  line-height: 80px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif; }

.WelcomeTextBlock {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'Oswald', sans-serif; }

.WelcomeText {
  font-size: 45px;
  color: #755b60;
  font-family: 'Oswald', sans-serif; }

.BotoomHeaderText {
  margin-top: 30px;
  height: 50px;
  border-top: 3px solid #97c160;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 75%;
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif; }

.applewImg {
  max-width: 50%; }

.UnderlineBrown {
  margin-top: -25px;
  width: 30%;
  border-bottom: 3px solid #855b60; }

.UnderlineGreen {
  margin-top: 20px;
  width: 30%;
  border-bottom: 3px solid #97c160; }

.keyPointsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.keyPointsBlockMainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaf6d9;
  width: 40%;
  height: 650px;
  border-radius: 10px; }

.keyPointsBlockDescriptionBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 650px;
  border-radius: 10px; }

.keyPointsBlockMainBlockHeader {
  font-size: 45px;
  color: #97c160;
  line-height: 80px;
  font-weight: 900;
  width: 300px;
  font-family: 'Oswald', sans-serif; }

.keyPointsBlockMainBlockDescription {
  width: 85%;
  margin-top: 30px;
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif;
  border-bottom: 3px solid #97c160;
  height: 130px; }

.keyPointsBlockListHeader {
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif; }

.keyPointsBlockListText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 80%;
  font-size: 20px;
  color: #755b60;
  font-family: 'Oswald', sans-serif; }

.FirstBlockAboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.BlockAboutDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 550px; }

.headerText {
  text-align: center;
  font-size: 45px;
  color: #97c160;
  line-height: 80px;
  font-weight: 900;
  width: 95%;
  font-family: 'Oswald', sans-serif;
  z-index: 1; }

.DescriptionText {
  z-index: 1;
  font-size: 20px;
  color: #755b60;
  font-family: 'Oswald', sans-serif;
  width: 80%;
  text-align: center; }

.FirstBlockAboutImg {
  background-image: url("../img/FirstPhoto.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 45%;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.FirstBlockAboutImg:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }

.secondBlockWithText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.thirdBlockWithIMG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.thirdBlockImg {
  max-width: 550px;
  border-radius: 5px;
  max-height: 646px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.thirdBlockImg:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%); }

.FourthBlockAboutDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

#grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px; }

.gridFraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #eaf6d9;
  width: 350px;
  height: 120px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3; }

.gridFractionDark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #97c160;
  width: 350px;
  height: 120px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3; }

.MarkImg {
  width: 67px;
  height: 67px;
  background-image: url("../img/mark.png");
  background-size: 65px;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat; }

.sixthBlockWithBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.gridSixthBlock {
  height: 470px;
  width: 60%;
  grid-gap: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.partOfImageSixthBlock {
  background-color: gray;
  border-radius: 5px; }

.partOfImageSixthBlockTopLeft {
  background-image: url("../img/TopLeft.png");
  background-position: center;
  -webkit-filter: saturate(0) contrast(0.3);
          filter: saturate(0) contrast(0.3);
  background-size: 130%;
  background-color: #2f3337;
  -webkit-transition: 1s;
  transition: 1s; }

.partOfImageSixthBlockTopRight {
  background-image: url("../img/TopRight.png");
  background-position: center;
  -webkit-filter: saturate(0) contrast(0.3);
          filter: saturate(0) contrast(0.3);
  background-size: 130%;
  background-color: #2f3337;
  -webkit-transition: 1s;
  transition: 1s; }

.partOfImageSixthBlockBottomLeft {
  background-image: url("../img/BottomLeft.png");
  background-position: center;
  -webkit-filter: saturate(0) contrast(0.3);
          filter: saturate(0) contrast(0.3);
  background-size: 130%;
  background-color: #2f3337;
  -webkit-transition: 1s;
  transition: 1s; }

.partOfImageSixthBlockBottomRight {
  background-image: url("../img/BottomRight.png");
  background-position-y: -160px;
  background-color: #2f3337;
  -webkit-filter: saturate(0) contrast(0.3);
          filter: saturate(0) contrast(0.3);
  background-size: 120%;
  -webkit-transition: 1s;
  transition: 1s; }

.partOfImageSixthBlockTopLeft:hover, .partOfImageSixthBlockTopRight:hover, .partOfImageSixthBlockBottomLeft:hover {
  -webkit-filter: saturate(1) contrast(1);
          filter: saturate(1) contrast(1);
  background-size: 100%;
  -webkit-transition: 1s;
  transition: 1s; }

.partOfImageSixthBlockBottomRight:hover {
  -webkit-filter: saturate(1) contrast(1);
          filter: saturate(1) contrast(1);
  background-size: 100%;
  background-position-y: -110px;
  -webkit-transition: 1s;
  transition: 1s; }

.seventhBlockWithIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

#image_viewBlock {
  margin-top: 150px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  max-width: 800px;
  max-height: 600px;
  height: 65vw;
  z-index: 2;
  background-image: url("../img/qa-course-one-small.jpg");
  background-size: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px; }

.ButtonRightAndCloseMainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50px;
  height: 100%; }

#image_viewBlock_Close {
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  width: 35px;
  height: 35px;
  background-color: #fbfbe5;
  border-radius: 50%;
  cursor: pointer;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8); }

#image_viewBlock_Close:hover {
  background-color: #999182;
  -webkit-filter: opacity(1);
          filter: opacity(1); }
  #image_viewBlock_Close:hover .image_viewBlock_Close_text {
    color: #fbfbe5; }

.image_viewBlock_Close_text {
  margin-left: 1px;
  margin-top: -5px;
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

#imageViewBlockButtonLeft {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fbfbe5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  cursor: pointer;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8); }

.arrowLeft {
  margin-top: -25px;
  margin-left: -5px;
  width: 50%;
  height: 40%;
  z-index: 1;
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif;
  text-align: center; }

#imageViewBlockButtonLeft:hover {
  background-color: #999182;
  border: 2px solid #fbfbe5;
  -webkit-filter: opacity(1);
          filter: opacity(1); }
  #imageViewBlockButtonLeft:hover .arrowLeft {
    color: #fbfbe5; }

.arrowRight {
  margin-top: -25px;
  margin-right: -5px;
  width: 50%;
  height: 40%;
  z-index: 1;
  font-size: 25px;
  color: #755b60;
  font-family: 'Oswald', sans-serif; }

#imageViewBlockButtonRight:hover {
  background-color: #999182;
  border: 2px solid #fbfbe5;
  -webkit-filter: opacity(1);
          filter: opacity(1); }
  #imageViewBlockButtonRight:hover .arrowRight {
    color: #fbfbe5; }

#imageViewBlockButtonRight {
  margin-top: -50px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fbfbe5;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-filter: opacity(0.8);
          filter: opacity(0.8);
  cursor: pointer; }

.seventBlockHeader {
  background-color: #eaf6d9;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.seventhBlockIcons {
  margin-top: -75px;
  width: 100%;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.seventhBlockIconsFraction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 255px;
  width: 165px;
  cursor: pointer; }

.seventhBlockIconsFractionIcon {
  border-radius: 5px;
  max-width: 100%;
  max-height: 150px; }

.eithBlockWithText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.eithBlockWithTextHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  height: 650px;
  border: 2px solid green; }

.eithBlockWithTextDexcription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 650px;
  border: 2px solid green; }

.eithBlockImg {
  margin-top: 25px;
  width: 95%; }

.ninthBlockWithPoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.ninthBlockPointsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 220px;
  width: 100%;
  border: 2px solid gray; }

.ninthBlockPoint {
  background-color: grey;
  width: 140px;
  height: 220px; }

.tenthMainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.TenthImgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  border-radius: 5px; }

.TenthTextBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
  height: 650px; }

.TenthImgTop {
  border-radius: 5px;
  margin: 5px;
  max-width: 99%;
  max-height: 300px; }

.TenthImgBottom {
  border-radius: 5px;
  margin: 5px;
  max-width: 99%;
  max-height: 300px; }

.eleventBlockWithText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.eleventBlockHeaderSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  height: 650px;
  border: 2px solid black; }

.eleventBlockTextSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 650px;
  border: 2px solid black;
  background-color: #eaf6d9; }

.eleventBlockHeaderSideImg {
  width: 95%;
  margin-top: 25px; }

.TwelfthBlockWithImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.TwelfthBlockHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65%; }

.TwelfthBlockImg {
  width: 30%;
  height: 650px;
  border: 2px solid black;
  border-radius: 10px; }

.thirteenMainBlockFacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.thirteenBlockFacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 250px; }

.thirteenBlockFactsDark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 250px;
  background-color: #97c160;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #97c160;
          box-shadow: 0 0 10px #97c160; }

.thirteenBlockFactsLight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 250px;
  background-color: #eaf6d9;
  -webkit-box-shadow: 0 0 10px #97c160;
          box-shadow: 0 0 10px #97c160;
  border-radius: 5px; }

.FourteenthMainBlockWithBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.FourteenthBlockBackground {
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url("../img/nature.jpg");
  background-position: center;
  background-size: 100%;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

.FifteenthBlockWithPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  background-color: #f8ffef;
  width: 80%;
  height: 650px;
  -webkit-box-shadow: 0 0 10px #D1E7B3;
          box-shadow: 0 0 10px #D1E7B3;
  border-radius: 10px; }

.FifteenthBlockPhotos {
  width: 90%;
  height: 350px;
  -webkit-box-shadow: 0 0 10px #97c160;
          box-shadow: 0 0 10px #97c160; }

footer {
  margin-bottom: 15px;
  width: 408px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#ButtonTop {
  width: 70px;
  height: 70px;
  position: fixed;
  margin-top: 85vh;
  border-radius: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 38%;
  display: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: cornsilk;
  opacity: 0.5; }

.ButtonTopText {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #3a2315; }

/** Social networks **/
.ContactsMail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 395px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsMail:hover {
  background-image: url("../img/sprite.png"); }

.ContactsVK {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 336px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsVK:hover {
  background-image: url("../img/sprite.png"); }

.ContactsLinkedin {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 280px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsLinkedin:hover {
  background-image: url("../img/sprite.png"); }

.ContactsInstagram {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 224px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsInstagram:hover {
  background-image: url("../img/sprite.png"); }

.ContactsTelegram {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 166px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsTelegram:hover {
  background-image: url("../img/sprite.png"); }

.ContactsSkype {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 109px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsSkype:hover {
  background-image: url("../img/sprite.png"); }

.ContactsPhone {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../img/sprite_without_hover.png");
  background-position-x: 52px;
  background-position-y: -3px;
  background-size: 400px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.ContactsPhone:hover {
  background-image: url("../img/sprite.png"); }

.socialLink {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: blanchedalmond; }

.DownloadResume {
  width: 230px;
  height: 35px;
  background: -webkit-gradient(linear, left bottom, left top, from(#8dd954), to(#68a83a));
  background: linear-gradient(to top, #8dd954, #68a83a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 10px; }

.DownloadResume:hover {
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.5); }

/* Adaptive design */
@media (max-width: 1290px) {
  header, nav, ul {
    width: 550px; }

  ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .gridSixthBlock {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 1100px; }

  .sixthBlockWithBackground {
    height: 1400px; }

  .gridSixthBlock {
    width: 65%; } }
@media (max-width: 1250px) {
  .thirteenBlockFacts {
    width: 95%; }

  .BlockAboutDescription {
    height: 650px; } }
@media (max-width: 1050px) {
  .mainHeaderText {
    font-size: 55px; } }
@media (max-width: 1060px) {
  .headerText {
    line-height: 60px;
    font-size: 40px; }

  .DescriptionText {
    font-size: 17px; }

  .DescriptionTextLight {
    color: #f0ebd7; }

  .BlockAboutDescription {
    height: 600px; }

  .thirteenBlockFacts {
    width: 100%; } }
@media (max-width: 1000px) {
  .mainHeaderText {
    font-size: 45px; }

  .keyPointsBlockMainBlockHeader {
    font-size: 35px; }

  .keyPointsBlockMainBlockDescription {
    font-size: 20px; } }
@media (max-width: 675px) {
  header, nav, ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 340px;
    height: 300px; } }
@media (max-width: 950px) {
  .keyPointsBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1050px; }

  .keyPointsBlockMainBlockHeader {
    width: 80%;
    text-align: center; }

  .keyPointsBlockMainBlock {
    width: 100%; }

  .FirstBlockAboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px; }

  .FourthBlockAboutDescription {
    height: 800px; }

  #grid {
    grid-template-columns: 1fr; }

  .thirdBlockWithIMG {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1050px; }

  .ninthBlockPointsBlock {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .thirteenBlockFacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .seventhBlockIcons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .seventhBlockWithIcons {
    height: 830px; }

  .seventhBlockIcons {
    height: 470px; }

  .ninthBlockWithPoints {
    height: 850px; }

  .ninthBlockPointsBlock {
    height: 500px; }

  .thirteenMainBlockFacts {
    height: 850px; }

  .thirteenBlockFacts {
    height: 550px; }

  .TwelfthBlockWithImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 950px; }

  .TwelfthBlockHeader {
    width: 90%; }

  .TwelfthBlockImg {
    height: 450px;
    width: 250px; } }
@media (max-width: 850px) {
  .WelcomeBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 75px;
    height: 850px; }

  .WelcomeTextBlock {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .mainHeaderText {
    width: 90%;
    margin-right: 0;
    line-height: 60px; }

  .keyPointsBlockDescriptionBlock {
    width: 100%; }

  .tenthMainBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 850px; }

  .TenthImgBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%; }

  .TenthImgTop {
    width: 45%; }

  .TenthImgBottom {
    width: 45%; }

  .TenthTextBlock {
    width: 95%; }

  .eithBlockWithText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 750px; }

  .eithBlockWithTextHeader {
    width: 95%;
    height: 420px; }

  .eithBlockWithTextDexcription {
    width: 95%;
    height: 300px; }

  .eleventBlockWithText {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 800px; }

  .eleventBlockHeaderSide {
    width: 95%; }

  .eleventBlockTextSide {
    width: 95%; }

  .DescriptionText {
    width: 90%; }

  .UnderlineBrown {
    margin-top: -5px; } }
@media (max-width: 700px) {
  .thirdBlockWithIMG {
    height: 1100px; }

  .BlockAboutDescription {
    width: 95%; } }
@media (max-width: 650px) {
  .seventhBlockWithIcons {
    height: 1050px; }

  .seventhBlockIcons {
    height: 850px; }

  .FirstBlockAboutImg {
    width: 50%; }

  .WelcomeBlock, .keyPointsBlockMainBlock, .keyPointsBlock, .FirstBlockAboutMe, .secondBlockWithText, .thirdBlockWithIMG, .FourthBlockAboutDescription, .gridSixthBlock, .seventhBlockWithIcons, .eithBlockWithText, .ninthBlockWithPoints, .tenthMainBlock, .eleventBlockWithText, .TwelfthBlockWithImg, .thirteenMainBlockFacts, .FourteenthBlockBackground, .FifteenthBlockWithPhoto {
    width: 95%; }

  .sixthBlockWithBackground {
    width: 95%; }

  .DescriptionText {
    width: 95%; }

  .TwelfthBlockHeader {
    width: 100%; }

  .tenthMainBlock {
    height: 1100px; }

  .TenthImgBlock {
    height: 850px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .TenthImgTop {
    height: 300px;
    width: 90%; }

  .TenthImgBottom {
    height: 300px;
    width: 90%; } }
@media (max-width: 550px) {
  .keyPointsBlockMainBlockHeader {
    width: 95%; }

  .thirdBlockImg {
    max-height: 350px; }

  .TenthImgTop, .TenthImgBottom {
    width: 100%; }

  .TenthImgBlock {
    width: 85%; } }
@media (max-width: 450px) {
  .TwelfthBlockWithImg {
    height: 1150px; }

  .eleventBlockWithText {
    height: 1050px; }

  .ninthBlockWithPoints {
    height: 1100px; }

  .ninthBlockPointsBlock {
    height: 800px; }

  .TenthImgBlock {
    width: 90%; }

  .thirteenMainBlockFacts {
    height: 750px; }

  .thirteenBlockFacts {
    margin-top: -45px;
    height: 1050px; }

  .FirstBlockAboutImg {
    width: 70%; }

  .tenthMainBlock {
    height: 1250px; }

  .eithBlockWithText {
    height: 800px; }

  .eithBlockWithTextHeader {
    height: 450px; } }
@media (max-width: 421px) {
  .thirteenMainBlockFacts {
    height: 1450px; }

  .TenthImgBlock {
    width: 95%; } }
@media (max-width: 400px) {
  .partOfImageSixthBlockBottomRight:Hover {
    background-size: 100%;
    background-position: center; }

  .TenthImgBlock {
    width: 100%; }

  .TenthImgTop, .TenthImgBottom {
    width: 100%;
    height: 325px; }

  .tenthMainBlock {
    height: 1150px; }

  .seventhBlockWithIcons {
    height: 1650px; }

  .seventhBlockIcons {
    height: 1250px;
    margin-top: -25px; }

  .gridFractionDark {
    width: 300px; }

  .headerText {
    font-size: 25px; }

  .gridFraction {
    width: 300px; }

  .keyPointsBlock {
    height: 1300px; }

  .keyPointsBlockListText {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 800px;
    width: 90%; }

  li {
    font-size: 17px; }

  .keyPointsBlockDescriptionBlock {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .secondBlockWithText {
    height: 800px; }

  .FirstBlockAboutImg {
    width: 90%; }

  #ButtonTop {
    margin-left: 30%; }

  .mainHeaderText {
    font-size: 40px;
    line-height: 40px; }

  .eithBlockWithText {
    height: 900px; }

  .eithBlockWithTextDexcription {
    height: 370px; }

  .eithBlockWithTextHeader {
    height: 550px; } }
@media (max-width: 360px) {
  ul, nav, header {
    width: 300px; }

  .TenthImgTop, .TenthImgBottom {
    width: 100%;
    height: 250px; } }
@media (max-height: 968px) {
  header, nav, ul {
    margin-top: 30px; }

  footer {
    margin-top: 30px; } }
@media (max-width: 410px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    width: 200px; } }

/*# sourceMappingURL=style.css.map */