html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
  html {
      background-color: black;
      overflow: hidden;
      background-image: url('../img/back.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-color: black;
      background-position: top;
      height: 100vh;
  }

  @import url('https://fonts.googleapis.com/css?family=Underdog&display=swap');

  #TheMainBlock {
      width: 100%;
      min-height: 106vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
     
      
  }

#callMobileMenuBlock {
    display: none;
    width: 100%;
    height: 50px;
    
}  


#mobileMenuButton {
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35px;
    height: 35px;
    
}

.mobileMenuButtonBurger {
    width: 100%;
    height: 20%;
    background-color: whitesmoke;
    border-radius: 5px ;
}

#closeMobileMenu {
    display: none;
    margin-left: 150px;
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: green;  
}

 #MainHeaderMenu {
     margin-top: 20px;
     width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 25px;
    transition: 1s;
    z-index: 5;
 } 

 #MainHeaderMenuButtons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
 }

 #HomePage{
color: yellow;
text-decoration: underline;
 }

 #HomePage:hover {
color: yellowgreen;
cursor: pointer;
 }

 #AboutUs:hover{
    color: yellowgreen;
cursor: pointer;
 }

 #Contacts:hover 
 {
    color: yellowgreen;
    cursor: pointer;
     }

#Ourshop:hover {
    color: yellowgreen;
    cursor: pointer;
}     

 #HomeMainBlock {
    margin-top: 50px;
    width: 55%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 }



 #AboutUsMainBlock {
    display: none;
    margin-top: 50px;
    width: 50%;
    height: 81vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
 }


 #ContactUsMainBlock {
    display: none;
    margin-top: 50px;
    width: 50%;
    height: 785px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
 }


 #OurShopMainBlock {
    margin-top: 50px;
    width: 50%;
    height: 785px;
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 .header {
    
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 35px;
 }

 footer {
     position: fixed;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: flex-end;
    font-family: 'Underdog', cursive;
    color: white;
     height: 25px;
     margin-top: 96vh;
     width: 100%;
     background-color: black;
     border: 1px solid whitesmoke;
     z-index: 3;
     
 }


 #mainParagraphTextBlockWelcome {
     width: 100%;
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
 }

 .mainParagraphText {
     line-height: 30px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 22px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
    width: 700px;
    margin-right: 250px;
   
    
 }


 .mainThinksBlock  {
     margin-top: 55px;
width: 100%;
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
font-family: 'Underdog', cursive;
    color: white;
     height: 25px;
 }

 #mainParagraphTextBlockAboutUs {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     justify-content: flex-start;
     margin-top: 50px;
     width: 100%;
 }

 .mainParagraphTextAboutUs {
    line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
    width: 450px;
 }

 #imgAboutUsDambl {
     margin-left: 10px;
 }

 #imgAboutUsDambl:hover {
     cursor: pointer;
 }

 #imgAboutUsGirl {
    margin-left: 10px;
}

#imgAboutUsGirl:hover{
    cursor: pointer;
}


#MiddleParagraphTextBlockAboutUs {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

}

#middleParagraphTextAboutUs {
    line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
    width: 450px;
}

#imgAboutUsStadium {
    margin-right: 10px;
}

#imgAboutUsStadium:hover{
    cursor: pointer;
}


#imgAboutUsHall {
    margin-right: 10px; 
}

#imgAboutUsHall:hover {
cursor: pointer;
}


#bottomParagraphTextBlockAboutUs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    width: 100%;
}

.BotoomMainParagraphText{
    line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
    width: 450px;
}

#imgAboutUsHallTwo {
    margin-left: 10px;
}

#imgAboutUsHallTwo:hover {
    cursor: pointer;
}

#imgAboutUsforest {
    margin-left: 10px;
}

#imgAboutUsforest:hover{
    cursor: pointer;
}

#imgAboutUsDamblBig {
    position: absolute;
    margin-top: -2000px;
    width: 50%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
    
}

#imgAboutUsDamblBig:hover {
cursor: pointer;
}


#imgAboutUsGirlBig {
    position: absolute;
    margin-top: -2000px;line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
    width: 50%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
}

#imgAboutUsGirlBig:hover {
cursor: pointer;
}



#imgAboutUsStadiumBig {
    position: absolute;
    margin-top: -2000px;
    width: 30%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
}

#imgAboutUsStadiumBig {
cursor: pointer;
}


#imgAboutUsHallBig{
    position: absolute;
    margin-top: -2000px;
    width: 50%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
}

#imgAboutUsHallBig:hover{
cursor: pointer;
}

#imgAboutUsHallTwoBig {
    position: absolute;
    margin-top: -2000px;
    width: 30%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
}

#imgAboutUsHallTwoBig {
    cursor: pointer;
}


#imgAboutUsforestBig{
    position: absolute;
    margin-top: -2000px;
    width: 50%;
    height: auto;
    transition: 1500ms ;
    filter: blur(250px);
}

#imgAboutUsforestBig:hover{
cursor: pointer;
}


#ImgOwlContactUs {
    width: 35%;
    height: auto;
    z-index: 2;
}


#ContactUsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -18px;
    width: 60%;
    height: 600px;
    z-index: 1;
    background-image: url('../img/back-text.png');
    border-radius: 10px;
}


.FormInputName {
    margin-top: 20px;
    line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    background-image: url('../img/back-text.png');
    border-radius: 5px;
}

#inputNameContactUs {
    margin-top: 10px;
    width: 70%;
}

#ContactUsEmail {
    margin-top: 10px;
    width: 80%;  
}


#ContactUsMessage{
    margin-top: 10px;
width: 90%;
}


#ContactUsButtonSend {
    line-height: 20px;
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    font-weight: 900;
    margin-top: 15px;
    background-color: #112B66;
    
}

.itemBlockInShop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #112b66;
    width: 99%;
    height: auto;
}

.ItemShopDescription {
    font-family: 'Underdog', cursive;
    color: white;
    font-size: 18px;
    text-align: center;
}

.itemBlockInShop:hover {
  cursor: pointer;
  border: 1px solid yellow;
    
}

#cartMainBlock {
    margin-top: -15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: #0D273E;

}



#basketwidjet {
    font-family: 'Underdog', cursive;
    color: white;
}

#basketwidjet:hover {
color:yellowgreen;
}

#ClearBasketBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #102C44;
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    
}

#basketClear {
    font-family: 'Underdog', cursive;
    color: white; 
    background-color: #102C44;
}

#basketClear:hover {
    color:yellowgreen;
}


.buyButton {
    font-family: 'Underdog', cursive;
    color: white;
    background-color: #102C44;
}

.buyButton:hover {
    font-family: 'Underdog', cursive;
    color: #102C44;
    background-color: yellowgreen;
    cursor: pointer;
}


@media(max-height: 700px) {
 .header {
     margin-top: -10px;
 }  
 
 #ContactUsMainBlock {
     margin-top: -10px;
 }
}





@media(max-width: 1850px) {
#AboutUsMainBlock {
    width: 90%;
}
}


@media(max-width: 1400px) {
    .mainParagraphText {
        font-size: 18px; 
        width: 80%;
        margin-right: 0;
    }

    #MainHeaderMenuButtons {
        width: 80%;
    }

    #AboutUsMainBlock {
        margin-top: 0px;
    }

    .mainParagraphTextAboutUs {
        font-size: 14px;
    }

    #middleParagraphTextAboutUs {
        font-size: 14px;
    }

    .BotoomMainParagraphText{
        font-size: 14px;
    }

    #mainParagraphTextBlockAboutUs{
        border-bottom: 2px solid whitesmoke;
        margin-top: 2px;
    }

    #MiddleParagraphTextBlockAboutUs {
        border-bottom: 2px solid whitesmoke;
        margin-top: 2px;
    }

    #bottomParagraphTextBlockAboutUs {
        border-bottom: 2px solid whitesmoke;
        margin-top: 2px;
    }
}


@media(max-width: 1210px) {
    .mainParagraphText {
        font-size: 15px; 
        width: 100%;
        margin-right: 0;
    }
}



@media(max-width: 1100px) {
    #MainHeaderMenu {
        position: absolute;
      display: column; 
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      min-width: 300px;
      height: 100vh;
      background-color: blue;
      margin-left:  -124%;
      margin-top: 0px;
    }
    
    #MainHeaderMenuButtons {
        margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    
    }

    #cartMainBlock {
        width: 150px;
        margin-top: 10px;
    }

    #callMobileMenuBlock {
        display: flex;
    }

    #closeMobileMenu {
        display: flex;
        margin-left: 120px;
    }
}



@media(max-width: 900px) {
    #HomeMainBlock {
width: 95%;
    }

    html {
        overflow: visible;
    }

#mainParagraphTextBlockAboutUs {
flex-direction: column;
align-items: center;
}    

#MiddleParagraphTextBlockAboutUs {
    flex-direction: column;
align-items: center;
}

#bottomParagraphTextBlockAboutUs {
    flex-direction: column;
align-items: center;
}

.mainParagraphTextAboutUs {
   width: 95%;
}

#middleParagraphTextAboutUs {
    width: 95%; 
}

.BotoomMainParagraphText {
    width: 95%;
}

#TheMainBlock {
    min-height: 100vh;

}

html {
    min-height: 100vh;
}

footer {
    align-items: center;
    position: fixed;
    margin-top: 96vh;
    background-color: black;
    border: 2px solid whitesmoke;
    margin-top: bottom;
    font-size: 12px;
}


#imgAboutUsDamblBig {
width: 100%;
}

#imgAboutUsGirlBig {
    width: 100%;
}

#imgAboutUsStadiumBig {
    width: 100%;
}

#imgAboutUsHallBig {
    width: 100%;
}

#imgAboutUsHallTwoBig {
    width: 100%;
}

#imgAboutUsforestBig {
    width: 100%;
}


#imgAboutUsDambl {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    }

#imgAboutUsGirl {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

#imgAboutUsStadium {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

#imgAboutUsHall {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

#imgAboutUsHallTwo {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

#imgAboutUsforest {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

}


@media(max-width: 600px) {
    .header {
        font-size: 25px;
    }
}

